/**
 * unit-selftest:/result.css
 *
 * @creation  2018-05-09
 * @version   1.0
 * @package   unit-selftest
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

#selftest-result .error .name {
	font-weight: bold;
}

#selftest-result .error .name:after {
	margin: 0.2em;
	content: ":";
}

#selftest-result .error > .error.exist:after {
	content: "EXIST";
}

#selftest-result .error > .error.password:after {
	content: "PASSWORD";
}

#selftest-result .error > .error.privilege:after {
	content: "PRIVILEGE";
}

#selftest-result .current {
	margin-left: 0.5em;
	_font-style: italic;
	_font-weight: bold;
}

#selftest-result .current:after {
	margin-left:  0.2em;
	margin-right: 0.4em;
}

#selftest-result .arrow:after {
	margin: 0.5em;
	content: "→";
}

#selftest-result .modify {
}


#selftest-result .empty:after,
#selftest-result .empty:before {
	margin:  0;
	padding: 0;
	content: '"';
} 

#selftest-result .user .modify:before {
	margin-left:  0.3em;
	margin-right: 0.1em;
	content: "("
}

#selftest-result .user .modify:after {
	margin-left:  0.1em;
	content: ")"
}
